header {
  height 100px;
  background: darkred;
  text-align: center; 
  color: black;  
}

body {
  background: black;
}

img {
  height: 180px;
  float: right; 
margin-left: 20px; 
}

h3 {
  color: darkred; 
  
}
h2 {
  color: darkred; 
}
body {
  color: white; 
}
